name: ci

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout Pycollo
        uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: test-environment
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          conda-build-version: 3.21.4
      - name: Install basic dependencies
        run: conda install -q -y --file=requirements.txt --file=tests/requirements.txt
      - name: Install Pycollo
        run: pip install .
      - name: Test with pytest
        run: pytest --cov-report=xml --cov=pyproprop tests/
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
          verbose: true
